/*ini adalah style jumbotron*/

/ini adalah style slider/
.carousel-item{
	height: 670px;
}
.carousel-item img{
	height: 700px;
}
.carousel-item .display-4{
	margin-top: -440px;
}
.carousel-item hr{
	border-color: #F05F40;
	width: 70px;
	border-width: 3px;
}
.carousel-item .btn{
	background-color: #F05F40;
	border: none;
	border-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}

.card-title{
	color: #8B4513;
}


/*STYLE FOOTER*/
footer{
	background-color: #323231;
	color: #fff;
	padding: 10px 200px;
}

footer > h3{
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

footer > .contact{
	display: inline-block;
}

footer > .contact > p{
	float: left;
	margin: 0;
	margin-right: 30px;
}

footer > .contact > .text-call{
	font-size: 18px;
	font-weight: bold;
}

footer > .kebijakan{
	margin-top: 10px;
	color: #919191;
	font-size: 14px;
}
body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

